.containter {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardCont {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  background-color: rgb(230, 235, 230);
  border-radius: 10px;
}

.cards {
  width: 150px;
  height: 150px;
  background-color: rgb(200, 216, 240);
  border-radius: 10px;
  color: rgb(29, 128, 214);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards p {
  font-size: 70px;
  color: white;
}

.wINNER {
  width: 100px;
  height: fit-content;
  background-color: rgb(146, 182, 190);
  border-radius: 10px;
  color: rgb(63, 60, 60);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
