.splitContainer {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

.left {
  width: 50%;
  height: 100%;
  background-color: #f3f4f6;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left img {
  width: 100%;
  height: 100%;
}

.right {
  width: 50%;
  height: 100%;
  background-color: #f3f4f6;
}

.right img {
  width: 100%;
  height: 100%;
}

.searchInput {
  width: 50%;
  height: 5%;
  position: absolute;
  top: 50px;
  left: 50px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.searchInput img {
  position: absolute;
  left: 0;
  width: 15%;
  height: 100%;
  padding: 10px;
}

.searchInput input {
  width: 85%;
  height: 100%;
  position: absolute;
  right: 0;
  border-radius: 40px;
  padding: 10px;
  border: 0;
}

.leftCenter {
  width: 60%;
  height: 70%;
  border-radius: 40px;
  background-color: white;
  position: absolute;
  display: flex;
  justify-content: center;
}

.dateInfo {
  position: absolute;
  left: 50px;
  top: 50px;
}

.cityName {
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 35px;
}
.locationIcon {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 50px;
  top: 70px;
}
.locationIcon img {
  width: fit-content;
  height: fit-content;
}
.weatherPic {
  position: absolute;
  top: 200px;
  width: 50%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-self: center;
}
.temperature {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 100px;
  font-size: 150px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: rgb(88, 88, 88);
}
.bot {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 10%;
  bottom: 50px;
  color: #ff8e27;
  font-weight: 700;
  font-size: 24px;
}

.temp {
  width: 100%;
  height: 100%;
}
.icons {
  position: absolute;
  bottom: 10px;
  width: 90%;
  height: 32px;
  display: flex;
}

.cities {
  width: 50%;
  height: 100px;
  position: absolute;
  top: 120px;
  left: 60px;
  display: flex;
  flex-direction: column;
  background-color: rgb(220, 217, 217);
  z-index: 1;
  overflow: scroll;
  padding: 10px;
  border-radius: 10px;
  color: rgb(49, 47, 47);
}
