.container {
  background-color: rgb(142, 214, 214);
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardCont {
  padding: 20px;
  background-color: green;
  width: 500px;
  height: 500px;
}

.cards {
  width: 800px;
  height: 800px;
  background-color: rgb(153, 32, 32);
  border-radius: 10px;
  padding: 10px;
  border-radius: 10px;

}

.card {

  width: 50px;
  height: 50px;
  background-color: green;

}