.container {
  background-color: rgb(142, 214, 214);
  width: 100vw;
  height: 100vh;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cardCont {
  display: grid;
  grid-row: auto auto auto;
  grid-row: auto auto auto;
  grid-row: auto auto auto;
}

.cards {
  width: 150px;
  height: 150px;
  background-color: rgb(202, 222, 157);
  border-radius: 10px;
}
