.container {
  width: 80%;
  margin: auto;
  height: 556px;
  padding: 96px 80px;
  display: flex;
  justify-content: space-between;
}

.leftSide {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftSideMiddle {
  height: fit-content;
  gap: 20px;
}
.leftSideMiddle > div {
  color: #4b5563;
  display: flex;
  align-items: center;
  gap: 10px;
}

.pTag {
  width: 80%;
  color: #4b5563;
}

.rightSide {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: end;
}

.rightSide img {
  padding: 5px;
  box-shadow: 30px 30px #e5e7eb;
}

.dott {
  border: 4px solid rgb(163, 230, 62);
  border-radius: 100%;
}
.leftSideMiddle > div img {
  width: 15px;
  height: 15px;
}

.leftSide > div h1 {
  font-size: 50px;
  font-weight: 700;
}
