.container {
  width: 80%;
  margin: auto;
  height: fit-content;
  padding: 96px 80px;
  background-color: #edf0f2;
  display: flex;
  flex-direction: column;
 align-items: center;
}

.top {
  border-radius: 15px;
  width: 100px;
  margin: auto;
  padding: 6px;
  background-color: #e5e7eb;
  font-size: 14px;
  display: flex;
  justify-content: center;
  color: #4b5563;
}
.categore {
  margin-top: 10px;
  color: #4b5563;
  text-align: center;
}

.experience1 {
  margin-top: 20px;
  display: flex;

  justify-content: space-between;
  width: 100%;
  height: 224px;
}
.experience1 h2 {
  margin-bottom: 10px;
}

.experience1 li {
  color: #4b5563;
}

.experience1Date {
  font-size: 16px;
  color: #4b5563;
}

.experience1Middle {
  width: 400px;
}

.inside {
  width: 60%;
  margin: auto;
  height: fit-content;
  background-color: rgb(255, 255, 255);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px rgb(220, 221, 220);
  margin-top: 50px;
}

.list {
  display: flex;
  margin-top: 15px;
}

.left {
  width: 40%;
}

.right {
  width: 30%;
  text-align: end;
  color: #4b5563;
}

.dateStyle {
  font-size: 18px;
  color: #4b5563;
  font-weight: 700;
}

.h2 {
  margin-bottom: 10px;

}

.liColor{
  color: #4b5563;
}

.expMiddle {
  width: 40%;
}
