.container {
  width: 80%;
  margin: auto;
  height: 560px;
  padding: 96px 80px;
}

.top {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}

.topInside {
  color: #4b5563;
  border-radius: 15px;
  width: fit-content;
  height: fit-content;
  padding: 10px 10px;
  background-color: #e5e7eb;
}

.middle {
  color: #4b5563;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: 20px;
}

.skillContainer {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto;
  gap: 15px;
  margin-top: 20px;
}

.contInside {
  width: 100%;
  height: 100%;
}

.skills {
  width: 79px;
  height: 100px;
  color: #4b5563;
}

.usedTechStyle {
  width: 200px;
  height: 200px;
  background-color: green;
}

.imgCont {
  width: 50%;
  height: 100%;
}

.imgCont img {
  width: 100%;
  height: 100%;
}
